In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

df = pd.read_parquet("dataCleaned.parquet")

# Z-score
z_scores = stats.zscore(df.select_dtypes(include=['float64', 'int64']))  # Sayısal sütunlar
abs_z_scores = np.abs(z_scores)

# Z-score
df = df[(abs_z_scores < 3).all(axis=1)]

display(df)
display(df.dtypes)

df.to_parquet('dataOutlier.parquet', index=False)

,Brand,Model,Power,Mileage,Transmission,Fuel,Price,Vehicle_Age
0,Fiat,Ducato,103,90000km,Manual,Diesel,22749,3
1,Mercedes-Benz,Vito,120,170000km,Automatic,Diesel,19299,3
2,Chevrolet,Spark,50,161000km,Manual,Petrol,3399,12
3,Nissan,Micra,59,162000km,Manual,Petrol,2599,10
4,Fiat,Doblo,66,55701km,Manual,Diesel,4699,9
...,...,...,...,...,...,...,...,...
1078382,DS,Automobiles,96,25292km,Manual,Petrol,34099,1
1078383,Volkswagen,T5,75,158505km,Manual,Diesel,26249,12
1078384,Renault,Master,96,58141km,Manual,Diesel,58049,6
1078385,Volkswagen,Golf,77,28260km,Automatic,Diesel,18999,12
1078386,Renault,Kangoo,66,157500km,Manual,Diesel,17949,10

Brand           object
Model           object
Power           object
Mileage         object
Transmission    object
Fuel            object
Price           object
Vehicle_Age      int32
dtype: object